<table class="table">
  <h1>Admin Dashboard</h1>
  <thead>
    <tr>
      <th>Products</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @inventory %> </td>
      <td><%= @category_count%></td>
    </tr>
  </tbody>
</table>

<%= link_to "Products", admin_products_path, class: 'btn btn-lg btn-primary' %>